.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0; /* Behind the login card */
    overflow: hidden;
  }
  
  .bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 20px;
    background-color: rgba(234, 22, 135, 0.5); /* Light blue bubbles */
    border-radius: 50%;
    animation: bubble-animation 15s infinite ease-in-out;
  }
  
  @keyframes bubble-animation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-110vh);
      opacity: 0;
    }
  }
  